nav{
    display: flex;
    justify-content: center; 

}

body {
    background-color: #FAF0E6; 
    color: black; 
}

/* gere position et taille */
#logo{
    width: -100%;
    height: -100vh;
    padding: 90px;
    display: flex;
    justify-content: center;
}

main{
    width: 100%;
}

.form-contener{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* gere les fonds et la position */
#login{
    max-width: 330px;
    box-shadow: 0 0 10px #6b6969;
    display: flex;
    flex-direction: column;
    background-color: #FAF0E6;
}

#signup{
    max-width: 330px;
    padding: 20px;
    box-shadow: 0 0 10px #6b6969;
    display: flex;
    flex-direction: column;
    background-color: #FAF0E6;
}
#profil{
    max-width: 430px;
    padding: 20px;
    box-shadow: 0 0 6px #6b6969;
    display: flex;
    flex-direction: column;
    background-color: #FAF0E6;
}
#workSpace{
    max-width: 430px;
    padding: 20px;
    box-shadow: 0 0 6px #6b6969;
    display: flex;
    flex-direction: column;
    background-color: #FAF0E6;
}




