@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/* main{
    margin-top: 70px;
} */

#homePage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homePage img{
    width: 70%;
}


#loginPage, #signupPage, #profilPage{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilPage, #workspacePage{
    margin-top: 70px;
}

#workspacePage{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
}


#workSpacesDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.workspaceEach a{
    text-decoration: none;
    cursor: pointer;
}

.workspaceEach{
    border: 2px solid black;
    width: 150px;
    
}

#login, #signup, #profil, #workSpace{
    width: 350px;
    
}

legend{
    font-size: 1.5em;
    color: #FC466B;
}

fieldset{
    display: flex;
    flex-direction: column;
    border: 2px solid transparent; 
    border-image: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
    border-image-slice: 1;
    padding-top: 30px;
}

fieldset input{
    width: 90%;
    margin : 10px 0 20px 5%;
    height: 40px;
    font-size: 1.2em;
}

fieldset label{
    margin-left: 5%;
    font-size: 1.3em;
}

fieldset button{
    width: 40%;
    height: 35px;
    margin-left: 30%;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: 1.1em;
    color: white;
    background-color: #FC466B;
}

fieldset button:hover{
    background-color: #3F5EFB;
}

#message{
    text-align: center;
}






